@import "./variables.css";
@import "./reset.css";

body {

    font-family: "Inter", sans-serif;

    background: var(--bg);

    color: var(--text-dark);

    line-height: 1.6;

}

.container {

    width: min(1320px, 92%);

    margin: auto;

}

section {

    padding: 100px 0;

}

/* Mobile */
@media (max-width: 576px) {}

/* Tablet */
@media (max-width: 768px) {}

/* Small Laptop */
@media (max-width: 992px) {}

/* Desktop */
@media (max-width: 1200px) {}
